.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



* {
  font-family: Courier New, Courier, monospace;
}

a {
  text-decoration: none;
  color: white;
}

.project-link {
  text-decoration: solid underline 1px;
  color: #48515F;
}

.anchor {
  display: block;
  height: 75px;
  margin-top: -63px;
  visibility: hidden;
}

.contrast-color {
  background-color: #E69D89;
}

.contrast-color-two {
  background-color: #606D80;
}

.jlogo {
  width: 34px;
  height: 43px;
}

header {
  padding: 18vh 1vh 4vh 1vh;
}

img {
  width: 40vh;
  height: 40vh;
}

.scholar-img {
  width: 30vh;
  height: 30vh;
}

#darkText a {
  color: #486BB6;
}

.navigation {
  background-color: white;
}

.section {
  padding: 10vh 2vh 10vh 2vh;
}

.title {
  width: 100%;
  line-height: 15vh;
}

.myName {
  vertical-align: middle;
  display: inline-block;
  margin: 0 10vh 0 10vh;
}
