* {
  font-family: Courier New, Courier, monospace;
}

a {
  text-decoration: none;
  color: white;
}

.anchor {
  display: block;
  height: 75px;
  margin-top: -63px;
  visibility: hidden;
}

.jlogo {
  width: 34px;
  height: 43px;
}

header {
  padding: 18vh 1vh 4vh 1vh;
}

img {
  width: 40vh;
  height: 40vh;
}

#darkText a {
  color: #486BB6;
}

.navigation {
  background-color: white;
}

.section {
  padding: 10vh 2vh 10vh 2vh;
}

.title {
  width: 100%;
  line-height: 15vh;
}

.myName {
  vertical-align: middle;
  display: inline-block;
}
